:root {
    --main-fonts-color: #000000;

    --regular-font-size: 33px;

    --main-bg-color: #ffffff;
    --transparent-bg: #ffffff00;
}

@font-face {
    font-family: oldStandard;
    src: url(fonts/OldStandardTT-Regular.ttf);
}

@font-face {
    font-family: oldStandardItalic;
    src: url(fonts/OldStandardTT-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: oldStandardBold;
    src: url(fonts/OldStandardTT-Bold.ttf);
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

.natSite-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--transparent-bg);
    position: fixed;
}

.natSite-menu-button {
    color: var(--main-fonts-color);
    font-family: oldStandard;
    font-weight: 400;
    font-size: var(--regular-font-size);
    line-height: 0;
    margin: 33px 10px;
    width: 150px;
}

.menu-button--close {
    display: none;
    cursor: pointer;
}

.natSite-about {
    color: var(--main-fonts-color);
    background-color: var(--main-bg-color);
    font-family: oldStandard;
    display: none;
    justify-content: space-between;
    width: 100%;
    margin: 0px 14px 15px 14px;
    font-size: var(--regular-font-size);
    padding-top: 140px;
    box-sizing: margin-box;
}

.natSite-about-insideMenu {
    position: fixed;
    width: 50%;
}

.natSite-about-insideMenu-option {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--main-fonts-color);
}

.natSite-about-insideMenu-email {
    width: 100%;
    color: var(--main-fonts-color);
    position: fixed;
    bottom: 0px;
}

.placeholder {
    width: 49%;
}

.natSite-about-info {
    width: 49%;
    border-left-style: solid;
    border-left-color: var(--main-fonts-color);
    border-left-width: 1px;
    font-size: var(--regular-font-size);
    float: right;
    padding-left: 20px;
}

.about-info--italic {
    font-family: oldStandardItalic;
    display: inline-block;
}

.about-info--header {
    transform: translate(200px, 0);
}

.natsite-body {
    width: 100%;
}

.refugees,
.collections {
    float: right;
}

.collections:after {
    clear: both;
}

.ministerstwo {
    padding-top: 150px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    font-family: oldStandard;
}

.ministerstwo-photo {
    display: block;
    margin: 0 auto;
    width: 100px;
}